@import "./fonts";

.Side {
  position: absolute;
  width: var(--box-team-width);
  height: var(--box-height);

  bottom: var(--champselect-margin-bot);

  display: flex;
  flex-direction: column-reverse;

  @import "./picks";
  @import "./bans";

  &.SideBlue {
    left: 0;
    
    .Bans {
      justify-content: flex-end;
      // background-color: var(--color-blue);
      // border: solid var(--color-blue) var(--border-width);
      float: right;

      .Ban {
        border-left: solid var(--color-blue) var(--border-width);

        .BanImage.Active::before {
          background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 10%, var(--color-blue) 100%);
        }
      }
    }

    .Picks {
      .Pick {
        .PickImage.Active::before {
          background-image: linear-gradient(to left, var(--color-blue) 0%, rgba(0, 0, 0, 0) 50%, var(--color-blue) 100%);
        }
      }
    }
  }

  &.SideRed {
    right: 0;
    
    .Bans {
      // background-color: var(--color-red);
      // border: solid var(--color-red) var(--border-width);
      float: left;

      .Ban {
        border-right: solid var(--color-red) var(--border-width);

        .BanImage.Active::before {
          background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 10%, var(--color-red) 100%);
        }
      }
    }

    .Picks {
      .Pick {
        .PickImage.Active::before {
          background-image: linear-gradient(to left, var(--color-red) 0%, rgba(0, 0, 0, 0) 50%, var(--color-red) 100%);
        }
      }
    }
  }
}
